 <!-- *** Footer *** -->

 <footer class="bg-light text-center text-dark" id="social">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

        <section class="mb-4">
            <a class="text-dark" href=""><h3>Sosyal Medya Hesaplarım</h3></a>
        </section>
        
      <!-- Section: Social media -->
      <section class="mb-4">
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://instagram.com/ensshn_?utm_source=qr&igshid=ZDc4ODBmNjlmNQ%3D%3D"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/enes-şahin-877194177/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        >
        </a>
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <a class="text-dark" href="/">enessahin.org</a>
    </div>
    <!-- Copyright -->
  </footer>


    <!-- jQuery -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/js/scrollreveal.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/imgfix.min.js"></script> 
    <script src="/js/mixitup.js"></script> 
    <script src="/js/accordions.js"></script>
    <script src="/js/owl-carousel.js"></script>
    
    <!-- Global Init -->
    <script src="/js/custom.js"></script>

  </body>
</html>