    <!-- ***** Header Area Start ***** -->
    <header class="">

        <nav class="navbar navbar-expand-lg navbar-light bg-ligh justify-content-center flex-column">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span>Menu</span>
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="navbar-brand logo ml-2 mt-2 px-2" href="#">EnesSahin</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="/#about-part">Hakkımda</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="/#training-part">Kurumsal Eğitimler</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="/#services-part">Potansiyel Eğitim Başlıkları</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="/#instructor-part">Danışmanlıklar</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="https://www.linkedin.com/in/enes-%C5%9Fahin-877194177/details/featured/">Blog</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="/#form">Form</a>
                <a class="nav-item nav-link ml-2 mt-2 px-2" href="/#social">Sosyal Medya</a>
              </div>
            </div>
          </nav>
        
    </header>
    <!-- ***** Header Area End ***** -->
